<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
     Hey <%= @user.first_name %>, Welcome Back!
    </h1>
    
    

<div class="row">
  <div class="col-md-8 offset-md-2">
    <a href="/goals/new" class="btn btn-primary btn-block">
      <i class="fa fa-fw fa-plus"></i>

      Get started on a new goal!
    </a>

    <hr>
  </div>
</div>

<div>
<h3>Your Active Goals:</h3>
</div>

 <% Goal.where(user_id: @user.id).each do |goal| %>
 
<div class="row mb-5">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <a href="/goals/<%=goal.id%>"><%=goal.name%></a>
          <small>
            <%=goal.description%>
          </small>
        </h4>
      </div>

      <div class="card-body">
        
        <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= 100*goal.current_amount.to_f/goal.goal_amount.to_f %>%;" aria-valuenow="<%= goal.current_amount.to_i/goal.goal_amount.to_i %>" aria-valuemin="0" aria-valuemax="100"><%= 100*goal.current_amount.to_i/goal.goal_amount.to_i %>%</div>
        </div>

        <div>


          <ul class="list-unstyled pt-3">
              <li class="media mb-2">
                <div class="media-body">
                  <h6>
                    <a>You've raised $<%=goal.current_amount%> of your $<%=goal.goal_amount%> goal!</a>
                  </h6>
                </div> <!-- media-body -->
              </li>
          </ul>
          
          <ul class="list-unstyled pt-3">
              <li class="media mb-2">
                <div class="media-body">
                  <h6>
                    <a>Savings Preferences for this goal:</a>
                  </h6>
                  
                <% CustomizedPreference.where(goal_id: goal.id).each do |preference| %>
                
                <div>
                  
                You save <a href="/customized_preferences/<%=preference.id%>">$<%=preference.transaction_amount%></a> when <a href="events/<%=preference.event_id%>"> <%= Event.find_by(id: preference.event_id).name%></a>
                
                </div>
                 <%end%>
                </div> <!-- media-body -->
              </li>
              
              <hr>
              
<form action="/create_customized_preference" method="post" class="media mb-2">
<div class="row">
  <h6>
  <a>Add a new savings preference:</a>
  </h6>
  <div class="form-group">
When <%= select_tag("event_id", options_from_collection_for_select(Event.all, :id, :name), :class => "form-control") %>

I'll save  <%= select_tag("transaction_amount", options_for_select([['$0.25', 0.25], ['$0.50', 0.5], ['$1', 1], ['$2', 2], ['$5', 5], ['$10', 10]]), :class => "form-control") %>
  </div>

  <div class="form-group">
    <input type="hidden" id="user_id" name="user_id" value="<%=current_user.id%>" class="form-control">
  </div>

  <div class="form-group">
    <input type="hidden" id="goal_id" name="goal_id" value="<%=goal.id%>" class="form-control">
  </div>
  
  <button class="btn btn-outline-primary mx-4 my-4">
    Add preference
  </button>
  </div>
</form>
          </ul>
          
          
          

            <div class="btn-group d-flex" role="group">
                <a href="/goals/<%=goal.id%>/edit" class="btn btn-warning w-100">
                  <i class="fas fa-edit"></i>

                  Edit
                </a>

                <a href="/delete_goal/<%=goal.id%>" class="btn btn-danger w-100" rel="nofollow">
                  <i class="fas fa-trash"></i>

                  Delete
                </a>
            </div> <!-- btn-group btn-group-justified -->
        </div>
      </div> <!-- card-body -->
    </div> <!-- card  -->
  </div> <!-- col-md-8 offset-md-2 -->
</div> <!-- row -->

<%end%>