<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Savings Preference:
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/customized_preferences" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/customized_preferences/<%= @customized_preference.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit customized preference
        </a>
      </div>

      <div class="col">
        <a href="/delete_customized_preference/<%= @customized_preference.id %>" class="btn btn-block btn-outline-secondary">
          Delete customized preference
        </a>
      </div>
    </div>


    <dl>
      
      <dt >Summary:</dt>
      <dd> I will donate <%= @customized_preference.transaction_amount%> to my goal of <%= Goal.find_by(id: @customized_preference.goal_id).name%> when <%= Event.find_by(id: @customized_preference.event_id).name %> </dd>

      
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@customized_preference.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@customized_preference.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

